@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/bauhaus-93");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: var(--text-xs);
    background: var(--beige);
    color: var(--dark-0);
}

a {
    color: inherit;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}