.site-footer {
    background: var(--blue);
    color: var(--dark-0);
    position: relative;
}

/* barres supérieures */

.site-footer__bars {
    display: flex;
    flex-direction: column;
}

.site-footer__bars .bar--orange {
    height: 1rem;
    background: var(--orange);
}

.site-footer__bars .bar--white {
    height: 0.75rem;
    background: var(--beige);
}

/* contenu */

.site-footer__inner {
    position: relative;
    padding: 3rem 1.5rem 3.5rem;
}

/* logo */

.site-footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: -1rem;
}

.site-footer__logo img {
    width: 12rem;
    height: auto;
    display: block;
}

/* navigation */

.site-footer__nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
}

.site-footer__nav li {
    margin-bottom: 0.4rem;
}

.site-footer__nav a {
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--dark-0);
    text-decoration: none;
}

.site-footer__nav a:hover {
    text-decoration: underline;
}

/* infos */

.site-footer__mail {
    display: inline-block;
    margin-bottom: -0rem;
    font-size: var(--text-xs);
    font-weight: 500;
    color: var(--beige);
    text-decoration: underline;
}

.site-footer__author {
    font-size: var(--text-xs);
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.site-footer__legal {
    font-size: var(--text-xs);
    line-height: 1.25;
    max-width: none;
    width: 100%;
    margin-top: 1.5rem;
}

/* formes décoratives */

.site-footer {
    position: relative;
    overflow: hidden;
}

/* conteneur décoratif */
.site-footer__decor {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 8.5rem;
    height: 10rem;
    pointer-events: none;
}

/* rectangle contour */
.decor-outline {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 9rem;
    border: 0.0625rem solid var(--dark-0);
    z-index: 2;
}

/* rectangle orange */
.decor-orange {
    position: absolute;
    top: 2.2rem;
    right: 0;
    width: 8.5rem;
    height: 1rem;
    background: var(--orange);
    z-index: 1;
}

/* rectangle jaune */
.decor-yellow {
    position: absolute;
    top: 3.8rem;
    right: 0;
    width: 7.5rem;
    height: 3rem;
    background: var(--yellow);
    z-index: 1;
}