.site-footer {
    background: var(--blue);
    color: var(--dark-0);
    position: relative;
}

/* barres supérieures */

.site-footer__bars {
    display: flex;
    flex-direction: column;
}

.site-footer__bars .bar--orange {
    height: 1rem;
    background: var(--orange);
}

.site-footer__bars .bar--white {
    height: 0.25rem;
    background: var(--white);
}

/* contenu */

.site-footer__inner {
    position: relative;
    padding: 3rem 1.5rem 3.5rem;
}

/* logo */

.site-footer__logo img {
    width: 8rem;
    height: auto;
    display: block;
    margin-bottom: 2rem;
}

/* navigation */

.site-footer__nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
}

.site-footer__nav li {
    margin-bottom: 0.75rem;
}

.site-footer__nav a {
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--dark-0);
    text-decoration: none;
}

.site-footer__nav a:hover {
    text-decoration: underline;
}

/* infos */

.site-footer__mail {
    display: inline-block;
    margin-bottom: 0.75rem;
    font-size: var(--text-xs);
    font-weight: 500;
    color: var(--dark-0);
    text-decoration: underline;
}

.site-footer__author {
    font-size: var(--text-xs);
    margin-bottom: 1rem;
}

.site-footer__legal {
    font-size: var(--text-xxs);
    line-height: 1.4;
    max-width: 22rem;
}

/* formes décoratives */

.site-footer__shapes {
    position: absolute;
    right: 1.5rem;
    top: 4rem;
    width: 8rem;
    height: 10rem;
}

.shape {
    position: absolute;
}

.shape--outline {
    top: 0;
    right: 0;
    width: 6rem;
    height: 8rem;
    border: 0.0625rem solid var(--dark-0);
}

.shape--orange {
    top: 2rem;
    right: 0;
    width: 4.5rem;
    height: 1rem;
    background: var(--orange);
}

.shape--yellow {
    top: 3.5rem;
    right: 0;
    width: 4.5rem;
    height: 2.5rem;
    background: var(--yellow);
}