.site-header {
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 100;
}

.site-header__top {
    height: var(--header-height);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-inline: 1.25rem;
    padding-top: 0;
    background-color: var(--beige);
}

.site-header__side {
    display: flex;
    align-items: center;
}

.site-header__side--left {
    justify-content: flex-start;
}

.site-header__side--right {
    justify-content: flex-end;
}

.site-header__logo {
    justify-self: center;
}

.site-header__logo img {
    display: block;
    max-height: 2.625rem;
}

.site-header__bars {
    display: flex;
    flex-direction: column;
}

.bar--red {
    height: 1.25rem;
    background: var(--orange);
}

.bar--gap {
    height: 0.25rem;
    background-color: var(--beige);
}

.bar--blue {
    height: 0.5rem;
    background: var(--blue);
}