.article-media-block {
    margin: 3rem 0;
}

.article-media-block__figure {
    position: relative;
    margin: 0;
}

.article-media-block__figure img {
    width: 100%;
    height: auto;
    display: block;
}

.article-media-block__overlay {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    color: var(--white);
}

.article-media-block__label {
    display: block;
    font-size: var(--text-xs);
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.article-media-block__name {
    display: block;
    font-family: "Bauhaus 93", sans-serif;
    font-size: 3.5rem;
    line-height: 0.9;
    font-weight: 400;
}

.article-media-block__source {
    font-size: var(--text-xxs);
    font-weight: 500;
    color: var(--dark-0);
    margin: 0.75rem 0 0;
    padding: 0 1.5rem;
}