.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-xs);
    font-weight: 700;
    color: var(--blue);

    padding: 0.5rem 0.75rem;
    border: 0.125rem solid var(--blue);
    background: transparent;

    text-decoration: none;
    cursor: pointer;
}


/* Bouton "article suivant" */
.button--next {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
