.hero {
    position: relative;
    padding-bottom: 0.8rem;
}

.hero-media {
    margin: 0;
}

.hero-media img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-caption {
    font-size: var(--text-xxs);
    font-weight: 500;
    margin-top: 0.75rem;
    margin-left: 1.5rem;
}

.hero-text {
    position: absolute;
    top: 42%;
    left: 1.5rem;
    transform: translateY(-50%);
    color: var(--white);
}

.hero-title {
    font-family: "Bauhaus 93", sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 0.9;
    margin: 0;
}

.hero-subtitle {
    font-size: var(--text-sm);
    font-weight: 500;
    margin-top: 0.5rem;
    line-height: 1.2;
}

.hero-description {
    font-size: var(--text-sm);
    font-weight: 500;
    margin: 1.5rem 1.5rem 0;
    max-width: 32rem;
    line-height: 1.0625;
}


/* variente article 1 */


.hero--article {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

/* bloc titre */
.hero-article__heading {
    padding: 0 1.5rem 1.25rem;
}

/* titre principal */
.hero-article__title {
    font-family: "Bauhaus 93", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0.25rem;
    color: var(--dark-0);
}

/* sous-titre */
.hero-article__subtitle {
    font-size: var(--text-sm);
    font-weight: 500;
    margin: 0;
    color: var(--dark-0);
}

/* image */
.hero--article .hero-media img {
    width: 100%;
    height: auto;
    display: block;
}

/* description sous la photo */
.hero-article__description {
    font-size: var(--text-xs);
    font-weight: 500;
    color: var(--dark-0);
    line-height: 1.25;
    margin: 0.75rem 1.5rem 0;
    max-width: 32rem;
}