/* card 2 */

.home-feature {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.25rem;
    padding: 0 1.5rem 3rem;
}

.home-feature__media {
    position: relative;
    max-width: 10.5rem;
}

.home-feature__media::before {
    content: "";
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    width: 4.25rem;
    height: 4.25rem;
    background: var(--yellow);
    z-index: 0;
}

.home-feature__media img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.home-feature__caption {
    font-size: var(--text-xxs);
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--dark-0);
}

.home-feature__content {
    max-width: 17rem;
}

.home-feature__title {
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: 1.1875;
    margin: 0 0 0.75rem;
}

.home-feature__text {
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: 1.25;
    margin: 0 0 1rem;
}

.home-feature__button {
    display: inline-flex;
    font-size: var(--text-xs);
    font-weight: 700;
    padding: 0.5rem 0.75rem;
    border: 0.125rem solid var(--blue);
    color: var(--blue);
    text-decoration: none;
}