@import "./vendors/normalize.css";
@import "./utils/variables.css";
@import "./base/main.css";
@import "./layout/header.css";
@import "./components/menu.css";
@import "./layout/footer.css";


/* home page */

@import "./components/hero.css";
@import "./components/articles-preview.css";
@import "./components/home-feature.css";
@import "./components/bouton.css";